:root{
  --pixel-size: 6;
}

#viewport{
  width: 500px;
  height: 500px;
  margin-left: calc(50vw - 250px);
  border: solid red 1px;
}

#hunter{
  width: calc(32px * var(--pixel-size));
  height: calc(32px * var(--pixel-size));
  
  overflow: hidden;
  

}

.hd_sheet{
  width: calc(128px * var(--pixel-size));
  height: calc(128px * var(--pixel-size));
  animation: hunterMovesDown 1s steps(4) infinite;
}

@keyframes hunterMovesDown{
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}


.pixelart{
  image-rendering: pixelated;
}


